{% extends '../auth.html' %}

{% block innercontent %}
  {% if form.errors %}
    <p><strong>Your username and password didn't match, please try again.</strong></p>
  {% endif %}
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
    {% endfor %}
    <button type="submit" class="btn" style="background-color: #93a1a1">Log In</button>
  </form>
  <a href="/accounts/password_reset">
    <button class="btn" style="background-color: #93a1a1">Forgot Password</button>
  </a>
{% endblock %}