{% extends '../auth.html' %}

{% block innercontent %}
  <h1>Check your inbox</h1>
  <p>We've emailed you instructions for settings your password. If the email you submitted exists in our database you should receive the email shortly!</p>
  <a href="/">
    <button class="btn" style="background-color: #93a1a1">Home</button>
  </a>
{% endblock %}