{% extends '../auth.html' %}

{% block innercontent %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
    {% endfor %}
    <button type="submit" class="btn" style="background-color: #93a1a1">Send me instructions!</button>
  </form>
{% endblock %}