{% extends '../auth.html' %}

{% block innercontent %}
  <h1>Your Password is reset</h1>
  <p>You can log in again now.</p>
  <a href="/accounts/login">
    <button class="btn" style="background-color: #93a1a1">Log in</button>
  </a>
{% endblock %}