{% extends '../auth.html' %}

{% block innercontent %}
  {% if form.errors %}
    <p><strong>Your passwords do not match, or are too common</strong></p>
  {% endif %}
  <h1>Reset your Password</h1>
  <p>Choose a new password below.</p>

  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
    {% endfor %}
    <button type="submit" class="btn" style="background-color: #93a1a1">Reset my password</button>
  </form>
{% endblock %}