{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <div class="container-fluid" style="padding: 0;">
          <div class="row">
              <div class="col-4">
                <h2>My Articles</h2>
              </div>
              <div class="col-4">
                <a href="{% url 'new_article' %}" class="btn btn-primary">Create new article</a>
              </div>
            {% for article in articles.mine %}
              <div class="col-sm-12 col-md-6 mb-3">
                <div class="card" style="padding: 10px 10px 0 10px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <dl class="row">
                      <dt class="col-sm-6">Written by:</dt>
                      <dd class="col-sm-6">{{ article.user }}</dd>
                      <dt class="col-sm-6">Date:</dt>
                      <dd class="col-sm-6">{{ article.date }}</dd>
                    </dl>
                    <a href="{% url 'article' pk=article.id %}" class="btn btn-block btn-primary">
                        Read Article
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-12">
              <h2>All Articles</h2>
            </div>
            {% for article in articles.all %}
              <div class="col-sm-12 col-md-6 mb-3">
                <div class="card" style="padding: 10px 10px 0 10px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <dl class="row">
                      <dt class="col-sm-6">Written by:</dt>
                      <dd class="col-sm-6">{{ article.user }}</dd>
                      <dt class="col-sm-6">Date:</dt>
                      <dd class="col-sm-6">{{ article.date }}</dd>
                    </dl>
                    <a href="{% url 'article' pk=article.id %}" class="btn btn-block btn-primary">
                        Read Article
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
