{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <h1>Delete article</h1>

        <form method="post">
          {% csrf_token %}
          <p>Are you sure you want to delete the article <strong>{{ article.name }}</strong>?</p>

          <button class="btn btn-danger" type="submit">Delete</button>
          <a class="btn btn-primary" href="{% url 'article' pk=article.id %}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}