{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 pt-5">
        <h1>{{ group.name }}</h1>
      </div>
    </div>
    <div class="row">
      {% if is_admin %}
        <div class="col-sm-4 col-md-2">
          <a href="{% url 'group_edit' pk=group.id %}">
            <button class="btn btn-primary">Manage Group</button>
          </a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a href="{% url 'group_users' pk=group.id %}">
            <button class="btn btn-primary">Manage Users</button>
          </a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a href="{% url 'group_delete' pk=group.id %}">
            <button class="btn btn-danger">Delete Group</button>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <strong>Managed by:</strong>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        {{ admin_string }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <strong>Users:</strong>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        {{ user_count }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <strong>Group size:</strong>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        {{ group.group_size }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-5">
        {% if group.description %}
          {{ group.description }}
        {% else %}
          No group description given
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}