{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <h1>{{ profile.user }} Profile</h1>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <strong>Bio:</strong>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            {{ profile.bio }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <strong>Location:</strong>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            {{ profile.location }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <strong>Date of Birth:</strong>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            {{ profile.birth_date }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <strong>Job Description:</strong>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            {{ profile.job_description }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <strong>Hobbies:</strong>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            {{ profile.hobbies }}
          </div>
        </div>
        <a href="{{ back_url }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
{% endblock %}

