{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 pt-5">
        <h1>{{ article.title }}</h1>
      </div>
    </div>
    <div class="row">
      {% if is_admin %}
        <div class="col-sm-4 col-md-2">
          <a href="{% url 'article_edit' pk=article.id %}">
            <button class="btn btn-primary">Edit Article</button>
          </a>
        </div>
        <div class="col-sm-4 col-md-2">
          <a href="{% url 'article_delete' pk=article.id %}">
            <button class="btn btn-danger">Delete Article</button>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        {{ article.body }}
      </div>
    </div>
  </div>
{% endblock %}