{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <h1>My Profile</h1>

        <form class="mt-5" method="post">
          {% csrf_token %}
          <h4>{{ object.user }}</h4>
          {% for field in form %}
            {% if field.name == 'bio' %}
              <div class="row">
                <div class="col-12">
                  {% bootstrap_field field %}
                </div>
              </div>
            {% else %}
              <div class="row">
                <div class="col-3 align-center" style="margin-top:10px">
                    {{ field.label }}
                </div>
              <div class="col-6">
                    {% bootstrap_field field layout='horizontal' show_label=False %}
                </div>
              </div>
            {% endif %}
          {% endfor %}

          <button class="btn btn-success" type="submit">Save</button>
          <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        </form>
      </div>
    </div>
  </div>
  <script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
  </script>
{% endblock %}

