{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <h1>Edit Article: {{ article.title }}</h1>

        <form class="mt-5" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="row">
              <div class="col-12">
                {% bootstrap_field field %}
              </div>
            </div>
          {% endfor %}

          <button class="btn btn-success" type="submit">Save</button>
          <a href="{% url 'group' pk=object.id %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

