{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="col-sm-12 pt-5 pb-5">
      <div class="row">
        <div class="col-12">
          <h2>Group Members</h2>
        </div>
      </div>
      <div class="row">
        {% for member in members.active %}
          <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
            <div class="card" style="padding: 10px 10px 0 10px;">
              <div class="card-body">
                <h5 class="card-title">{{ member.user }}</h5>
                <a href="{% url 'user_profile' pk=member.user.id %}?back={{ request.path }}" class="btn btn-block btn-primary">
                  See Profile
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if is_admin %}
        <div class="row">
          <div class="col-12">
            <h2>Open Invitations</h2>
          </div>
          <div class="col-sm-5">
            <strong>Email</strong>
          </div>
          <div class="col-sm-3">
            <strong>Sent on</strong>
          </div>

          {% for member in members.invites %}
            <div class="col-sm-5">
              {{ member.invite_email }}
            </div>
            <div class="col-sm-3">
              {{ member.invite_sent }}
            </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-12">
            <h2>Rejected Invitations</h2>
          </div>
          <div class="col-sm-5">
            <strong>Email</strong>
          </div>
          <div class="col-sm-3">
            <strong>Sent on</strong>
          </div>
          <div class="col-sm-3">
            <strong>Rejected on</strong>
          </div>
        </div>
        <div class="row">
          {% for member in members.rejected %}
            <div class="col-sm-5">
              {{ member.invite_email }}
            </div>
            <div class="col-sm-3">
              {{ member.invite_sent }}
            </div>
            <div class="col-sm-3">
              {{ member.invite_accepted }}
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="col-12">
                {{ field.label }}
              </div>
              <div class="col-12">
                {{ field }}
              </div>
            {% endfor %}
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="background-color: #00577D">Invite new members
              </button>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
