{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        {% if not user.is_authenticated %}
          <h2>Hello</h2>
        {% else %}
          <h2>Hello {{ user }}</h2>
        {% endif %}
        <p>Welcome to this demonstration CMS. Click around, post some articles and see what you think.</p>
        <p>A few notes on the functionality</p>
        <ul>
          <li>
            I've implemented a signup system with activation emails, password recovery etc. In a production version this
            would be linked up to an email server, but for this version any 'emails' sent are just printed to the
            console. You do still need to click the activation link to start using the system.
          </li>
          <li>
            The 'Manage Users' tab would normally be hidden for non admin account. But seen as the sign-up
            implemented has no way of handling making the first admin account I've left it open to all. Normally this
            would be handled by having a admin superuser account.
          </li>
          <li>
            There are still some points in the user management which would be improved with better error feedback to
            the user. Especially around inviting new members. When the email is wrong or duplicate the invite isn't sent,
            but this isn't passed back to the user.
          </li>
          <li>
            The List pages could benefit from pagination. Not included now due to time constraints.
          </li>
          <li>
            My next add would be comments to the articles. The required models have already been made, but the views
            haven't.
          </li>
          <li>
            The GroupPost models was made to contain logic to make articles only visible to certain groups of people.
            This would work very similarly to the Membership model if implemented. However due to time constraints it is not yet done.
          </li>
          <li>
            For the sake of this assessment I've written everything from scratch for this project. Although the article
            functionality still requires some work I believe that the implementation thus far shows that I understand
            Django well and Could have the rest done given another 0.5 - 1 days.
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}