{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <div class="container-fluid" style="padding: 0;">
          <div class="row">
              <div class="col-4">
                <h2>My Groups</h2>
              </div>
              <div class="col-4">
                <a href="{% url 'new_group' %}" class="btn btn-primary">Create new group</a>
              </div>
            {% for group in groups.active %}
              <div class="col-sm-12 col-md-6 mb-3">
                <div class="card" style="padding: 10px 10px 0 10px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ group.group.name }}</h5>
                    <dl class="row">
                      <dt class="col-sm-6">Description:</dt>
                      <dd class="col-sm-6">{{ group.description }}</dd>
                      <dt class="col-sm-6">Group size:</dt>
                      <dd class="col-sm-6">{{ group.group_size }}</dd>
                      <dt class="col-sm-6">Created</dt>
                      <dd class="col-sm-6">{{ group.group.created | date:'d-m-Y' }}</dd>
                    </dl>
                    <a href="{% url 'group' pk=group.group.id %}" class="btn btn-block btn-primary">
                      {% if group.is_admin %}
                        Manage Group
                      {% else %}
                        See group information
                      {% endif %}
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-12">
              <h2>My Administrator Groups</h2>
            </div>
            {% for group in groups.admin %}
              <div class="col-sm-12 col-md-6 mb-3">
                <div class="card" style="padding: 10px 10px 0 10px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ group.name }}</h5>
                    <dl class="row">
                      <dt class="col-sm-6">Description:</dt>
                      <dd class="col-sm-6">{{ group.description }}</dd>
                      <dt class="col-sm-6">Group size:</dt>
                      <dd class="col-sm-6">{{ group.group_size }}</dd>
                      <dt class="col-sm-6">Created</dt>
                      <dd class="col-sm-6">{{ group.created | date:'d-m-Y' }}</dd>
                    </dl>
                    <a href="{% url 'group' pk=group.id %}" class="btn btn-block btn-primary">
                      Manage Group
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-12">
              <h2>Active Invites</h2>
            </div>
            <div class="col-sm-5">
              <strong>Group Name</strong>
            </div>
            <div class="col-sm-3">
              <strong>Sent on</strong>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row">
            {% for group in groups.invites %}
              <div class="col-sm-5">
                {{ group.group.name }}
              </div>
              <div class="col-sm-3">
                {{ group.group.invite_sent }}
              </div>
              <div class="col-sm-2">
                <a href="{% url 'membership_accept' pk=group.id %}" class="btn btn-block btn-success">
                  Accept
                </a>
              </div>
              <div class="col-sm-2">
                <a href="{% url 'membership_reject' pk=group.id %}" class="btn btn-block btn-danger">
                  Reject
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
