{% extends '../base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 pt-5 pb-5">
        <div class="container-fluid" style="padding: 0;">
          <b-row>
            <b-col>
              <h2>Users</h2>
            </b-col>
          </b-row>
          <b-row>
            <table width="100%">
              <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Joined</th>
                <th>Admin?</th>
                <th>Toggle Admin</th>
              </tr>
              {% for user in users %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.is_superuser }}</td>
                <td><button onclick="toggleAdmin({{ user.id }})">Toggle</button></td>
              </tr>
              {% endfor %}
            </table>
          </b-row>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  function toggleAdmin(user_id) {
    let url_string = "/ajax/toggle_admin/" + user_id + '/';
      $.ajax({
          url: url_string,
          method: 'GET',
          success: function (response) {
            location.reload()
          }
      });
  }
  </script>
{% endblock %}
