<p>
    Hi {{ user_name }},
</p>

<p>
  {{ body }}
</p>

<p>
  You have been invited to join a CMS group. If you already have an account you can join by logging in
  <a href="http://127.0.0.1:8000/accounts/login/">HERE</a>.
  If you don't have an account yet you can join after signing up <a href="http://127.0.0.1:8000/signup/">HERE</a>.
  Your invite will be waiting for you!
</p>

<p>
    Speak to you soon,<br />
    {{ admin_name }}, group admin<br />
</p>