{% extends 'cms/base.html' %}

{% block content %}
  <div class="container container-fluid d-flex align-items-center">
      <div class="col-xs-12 col-md-6" id="login-container">
          {% block innercontent %}empty{% endblock %}
      </div>
  </div>
  <style>
    #login-container {
      background: #b7e11c;
      border-radius: 20px;
      padding: 50px;
      margin: 60px auto auto;
    }
  </style>
{% endblock %}