{% load static %}
{% load bootstrap4 %}
<!--<!DOCTYPE html>-->
<html>
<head>
    <title>Django- CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}

    <!-- jQuery FancyBox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
              <li>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              {% if not user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'signup' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
              {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'profile' pk=user.pk %}">My Profile</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'articles' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'articles' %}">Articles</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'my_groups' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'my_groups' %}">My Groups</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'all_groups' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'all_groups' %}">All Groups</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'users' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'users' %}">Manage Users</a>
                </li>
              {% endif %}
            </ul>
          {% if user.is_authenticated %}
            <div class="ml-auto d-flex justify-content-between mr-5 h-100">
                <div class="ml-3 my-auto">
                  <a class="btn btn-secondary ml-auto" href="/accounts/logout">Logout</a>
                </div>
            </div>
          {% endif %}
        </nav>
    <div style="height: 44px; background-color: #b7e11c"></div>
    </header>

    {% block bootstrap4_content %}
        <div class="container">
          {% block content %}empty{% endblock %}
        </div>
    {% endblock %}

    <footer class="mt-1">
        <div class="container">
            <span class="copyright">Ben Edmondson 27-7-2021</span>
        </div>
    </footer>
    <script type="text/javascript">
        // Enable Bootstrap4 tooltips for all pages
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
